.text-with-divider {
  @include flex-row-aicenter;
  column-gap: 5rem;

  &__item {
    @include flex-row-aicenter;
    gap: 1rem;
    position: relative;

    &.splash {
      &:not(:first-child) {
        &::before {
          content: "";
          position: absolute;
          left: -2.5rem;
          width: 0.2rem;
          height: 1.9rem;
          background-color: $color-38;
        }
      }
    }

    &.dot {
      &:not(:first-child) {
        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          width: 0.3rem;
          height: 0.3rem;
          border-radius: 50%;
          background-color: $color-3;
        }
      }
    }
  }

  &__icon {
    // margin-right: 1rem;
  }
}
