.user-icon {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;

  &__availability {
    position: absolute;
    bottom: -0.3rem;
    right: -0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.2rem solid $color-white;
    // display: inline-block;

    &.online {
      background-color: $color-13;
    }
    &.offline {
      background-color: $color-12;
    }
    &.away {
      background-color: $color-14;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.small {
    max-width: 3.6rem;
    max-height: 3.6rem;
    border-radius: 1rem;
  }
}

.avatar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.avatar__icon {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: $color-15;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  &.not__user {
    background-color: $color-14;
  }

  &.large {
    max-width: 20rem;
    max-height: 20rem;
    height: 15rem;
    width: 15rem;
    font-size: 5rem;
  }
}
