.user-datails,
.user-details {
  padding: 7rem 5rem;
  &__table {
    width: 100%;
  }

  &__table {
    tr {
      &:not(:last-child) {
        td {
          padding-bottom: 5rem;
        }
      }
    }
  }

  &-image {
    width: 11.4rem;
    height: 11.4rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title-container {
    text-align: right;
    vertical-align: top;
  }

  &__title {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $color-3;
  }

  &__detail {
    padding-left: 3rem;
  }

  &__detail-text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $color-4;
  }

  &__social-btn {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__label {
    background-color: $color-18;
    border-radius: 0.8rem;
    padding: 0.4rem 1.3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 230%;
    color: $color-3;
  }
}
