.header {
  &__index-page {
    background-image: url(./../../images/landingPageHeaderBg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    padding-top: 15rem;
    padding-bottom: 30rem;
  }
}
